@if (_root != null)
{
    <div class="booking-card">
        <h1>Dynamic generated Form 2</h1>
        <EditForm @ref="_form" Model="@model">
            @CreateForm()
            <div class="d-flex flex-row-reverse py-2 px-1">
                <input type="submit" name="Absenden"/>
                <input class="mr-4" type="reset" name="Zurücksetzen"/>
            </div>
        </EditForm>
    </div>
}